.signup {
    padding: 56px 20px;
}

.signup_form {   
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 14rem;
}

.signup_img {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
    border: 1px solid black;
}